.app-wrapper {
  margin: 0 auto;
  width: 80%;
  display: grid;
  grid-template-columns: 230px 1fr; 
  grid-template-rows: 40px 1fr; 
  grid-template-areas: 
  'h h h'
  'n c c';
}

.app-wrapper-content {
  min-height: 95vh;
  background-color: darkgray;
  grid-area: c;
}
